 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family:  "Poppins", serif;
    height: 100vh;
    
} 
.popup{
    position: fixed;
    top: 40%;
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px 30px;
    background-color: rgb(245, 243, 241);
    visibility:hidden;  /* initially hidden*/
    opacity: 0;
    border-radius: 8px;
    transition: visibility 0s, opacity 1s linear;
}

.popup.active{
    top: 50%;
    visibility:visible;  
    opacity: 1;
    
    transition: opacity 1s linear;
}

.popup .form h2{
    text-align: start;
    font-size: 18px;
    margin-bottom: 10px;
}

.cate{
   
   display: flex;
    justify-content: center;
    gap: 30px; 
    
}

.popup .form .btn1{
    
    margin-right: 10px; 
    margin-top: 10px;
    border: 1px solid rgb(26, 185, 26);
    background-color: rgb(30, 178, 30);
    color: white;
    
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    
    text-decoration: none;
}

.popup .form .btn2{
    margin-top: 10px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    text-decoration: none;
}
.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element input[type="number"]
{
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(208, 203, 203);
    border: 1px solid rgb(208, 203, 203);
}

select{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
}
.popup .form .form-element textarea{
    width: 100%;   
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgb(208, 203, 203);
    border: 1px solid rgb(208, 203,203 );
}

#submit{
    text-align: end;
    
}
#submit .sub{
    width: 80px;
    border: 1px solid green;
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    

}
#submit .sub a{
    text-decoration: none;
    color: white;
}


#submit .cancel{
    width: 80px;
    border: 1px solid rgb(160, 9, 9);
    background-color: rgb(160, 9, 9);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
#submit .cancel a{
    text-decoration: none;
    color: white;
}

